*{
    margin: 0;
    padding:0;
    border: 0;
}

@font-face{
    font-family: MuseoSans;
    src: url(../font/museosanscyrl/MuseoSansCyrl.otf);
}

@font-face{
    font-family: Firasans;
    src: url(../font/firasans/FiraSans-Regular.otf);
}

body{

    font-family: Firasans !important;
    color: #333;
}

h1{
    font-family: Firasans;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

p{
    line-height: 19px;
    font-size: 16px;
}
nav{
    /*min-height: 60px;
    */background-color: #fff;
}
.collapse {
    justify-content: flex-end;
}
.header{
   /*background: #9aa3ae url(../img/header/NEWSE.png) top center no-repeat;*/
    color: #fff;
    background-size: cover;
}
.navbar a{
    color: #000;
}
.navbar a:hover{
    color: #55A462;
}
.area:hover{
    background-color: #55A462 !important;
    color: #fff !important;

}
.title-text{
    max-width: 795px;
    margin: 0 auto;

}
.title-text h1{
    font-family: MuseoSans ;
    font-size: 36px !important;
    line-height: 42px !important;
}

.title-text p{
    font-family: Firasans;
    font-size: 20px !important;
    line-height: 24px !important;
}

.bounce{
    animation-duration: 3s !important;
    animation-delay: 300ms !important;
    animation-iteration-count: infinite !important;
    animation-name: bounce;
    display: flex;
    margin: 0 auto;
    width: 26px;
    height: 12px;
    margin-top: 150px;
    margin-bottom: 125px;

}

.btn{
    width: 160px;
    height: 33px;
    padding: 0;
    background-color: #55A462;
    color: #fff;
    border: #55A462;
}
.btn:hover{
    background-color: #3d7c47;
    color: #fff;
    border: #3d7c47;
}

.backg{
    background: rgba(15, 18, 49, 0.34) url('img/header/NEWSE.png') top center ;
}

.backg1{
    background: rgba(15, 18, 49, 0.34) url('img/header/cat1.jpg') top center ;
}

.backg2{
    background: rgba(15, 18, 49, 0.34) url('img/header/cat2.jpg') top center ;
}

.backg3{
    background: rgba(15, 18, 49, 0.34) url('img/header/cat3.jpg') top center ;
}

.why-we h1{
    font-size: 16px !important;
    line-height: 19px;
    font-weight: bold;
    text-align: center;
}

.why-we p{
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}

.why-we img {
    margin-top: 60px;
    margin-bottom: 16px;
}

.more-present{
    text-align: center;
    width: 230px;
    height: 33px;
}

.channel{
    padding: 0 !important;
}


.child,.child2,.child3,
.girl,.girl2,.girl3,
.men,.men2,.men3,
.serial,.serial2,.serial3,
.sport,.sport2,.sport3,
.music, .music2, .music3,
.xxx,.xxx2,.xxx3,
.discovery,.discovery2,.discovery3{
    /*width: 540px !important;*/
    height: 336px !important;
    margin: 15px;
}

/*--child--*/
.child{
    background: #111 url("../img/content/child/child_1.png") center center;
}

.child2{
    background: #111 url("../img/content/child/child_2.png") center center;
}

.child3{
    background: #111 url("../img/content/child/child_3.png") center center;
}

/*--girls--*/

.girl{
    background: #111 url("../img/content/girl/girl_1.png") center center;

}

.girl2{
    background: #111 url("../img/content/girl/girl2.png") center center;

}

.girl3{
    background: #111 url("../img/content/girl/girl3.png") center center;

}


/*--men--*/
.men{
    background: #111 url("../img/content/men/Mens.png") center center;

}

.men2{
    background: #111 url("../img/content/men/men2.png") center center;

}

.men3{
    background: #111 url("../img/content/men/men3.png") center center;

}


/*--serial--*/
.serial{
    background: #111 url("../img/content/serial/gatsby.png") center center;

}
.serial2{
    background: #111 url("../img/content/serial/film2.png") center center;

}
.serial3{
    background: #111 url("../img/content/serial/film3.png") center center;

}


/*--sport--*/
.sport{
    background: #111 url("../img/content/sport/sport.png") center center;

}

.sport2{
    background: #111 url("../img/content/sport/sport2.png") center center;

}

.sport3{
    background: #111 url("../img/content/sport/sport3.png") center center;

}

/*--music--*/
.music{
    background: #111 url("../img/content/music/music.png") center center;

}

.music{
    background: #111 url("../img/content/music/music2.png") center center;

}

.music{
    background: #111 url("../img/content/music/music3.png") center center;

}

/*--ххх--*/
.xxx{
    background: #111 url("../img/content/xxx/xxx.png") center center;

}

.xxx2{
    background: #111 url("../img/content/xxx/xxx2.png") center center;

}

.xxx3{
    background: #111 url("../img/content/xxx/xxx3.png") center center;

}

/*--discovery--*/
.discovery{
    background: #111 url("../img/content/discovery/discovery_1.png") center center;
}

.discovery2{
    background: #111 url("../img/content/discovery/discovery_2.png") center center;
}

.discovery3{
    background: #111 url("../img/content/discovery/discovery_3.png") center center;
}



.image-bussines{

    background: #111 url("../img/content/bussines/bussines2.png") center center;
}
.image-bussines2{
    background: #111 url("../img/content/bussines/bussines.png") center center;
}
.image-bussines3{

    background: #111 url("../img/content/bussines/bussines3.png") center center;
}
.text{
    align-items: flex-end;
    display: flex;
    color: #fff;
    height: 100%;
}

.content-text{
    /*width: 540px !important;*/
    padding: 100px 25px 20px 25px;
    background: linear-gradient(180deg, rgba(17, 37, 67, 0) 0%, rgba(0, 20, 50, 0.53) 100%);

}
.back{
    background-color:  rgba(51, 51, 51, 0.36);
    border-radius: 4px;
    padding: 25px 10px;
    width: 85%;
}
/*-----------------*/

.prices{
    color: #333333;
    margin: 0 auto;
    font-size: 16px !important;
    list-style-image: url(images/ellipse.png);
    padding:0;
}
.prices ul{ 
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.prices ul li {
    padding: 5px;
}

.comment{
    font-weight: bolder;
}
.prices #img-price{
    padding-left: 80px;
}

.join-btn{
    min-width: 150px;
    max-width: 540px;
    width: 100%;
    height: 70px;
    text-align: center;
    color: #55A462;
    background: #fff;
    font-weight: bolder;
    border: 1px solid rgba(85, 164, 98, 0.27);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin-bottom: 50px;
    font-size: 20px !important;
}
.join-btn:hover {
    background: #55A462;
    color: #fff;
 } 
.join-btn-act{
    background: #55A462;
    color: #fff;
}
 .text-btn{
    color: #828282;
    font-size: 16px !important;
    padding-bottom: 10px;
}

.step1-btn{
    padding: 0;
    float: left;
    color: #4F4F4F;
    font-size: 20px !important;
    width: 100%;
    min-height: 50px;
    background: #fff;
    border: 1px solid rgba(85, 164, 98, 0.27);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    line-height: 100%;
    border-radius: 10px;
}

.smart{
    min-height: 90px !important;
}
.step1{text-align: center;}
.step1-btn2{
    padding: 0;
    float: left;
    color: #4F4F4F;
    font-size: 20px !important;
    min-width: 150px;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(85, 164, 98, 0.27);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    line-height: 100%;
    border-radius: 10px;
}
.step1-btn2:hover{
    border: 1px solid #55A462;
}
.step1-btn:hover{
    border: 1px solid #55A462;
}
.t1{
    padding-left: 15px;
    float: left;
}
.t2{
    padding-right: 15px;
    padding-left: 30px;
    float: right;
}
.step1-btn2 {padding: 0;
    padding-top: 20px;}

.plus{
    clear: both;
    text-align: center;
    padding: 20px;
}
.t5{
    padding: 0;
    padding-left: 15px;
    text-align: left;
    font-size: 14px !important;
}
.t5 li{
    margin: 0;
    padding:0; 
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;}
.t5 ul {padding: 0}


.log{
    padding: 10px;
    text-align: left;
    clear: both;

}
.log input{
    margin: 15px auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);}
.further-btn{

    padding: 0;
    margin-top: 20px; 
    font-size: 16px !important;
    max-width: 635px;
    width: 160px;
    height: 33px;
    color: #fff;
    background: #55A462;
    border: 1px solid rgba(85, 164, 98, 0.27);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 100%;
}
.further{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}
.step1_2{
    padding-bottom: 50px;
}
.step2 input{
    height: 33px;
    min-width: 100px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.step2 form p{
    padding: 0;
    font-weight: 500;
}
.step2 label{
     padding: 0; 
     text-align: right;
      line-height: 33px;
}

.bord p{
    margin: 0;


}
.bord {
    font-size: 16px;
    padding: 0;
    border: 1px solid rgba(85, 164, 98, 0.27);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px; 
    color: #333333;
    padding-bottom: 20px;
}


.caption{
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 25px;
}
.step2 label{
    font-weight: 500;
}

.back-btn{
    border:1px solid #55A462 !important; 
    background-color: #fff !important; 
    color: #55A462 !important;
}
.back-btn:hover{
    border:1px solid #55A462  !important; 
    background-color: #55A462 !important; 
    color: #fff !important;
}
/*-----------------------*/

.present{
    min-height: 225px;
    background: #000 url("../img/Group.png") center center no-repeat fixed;

    background-size: cover;
}

/**---------feed back---------------*/

.feed-content {
    width: 350px !important;
    min-height: 280px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #fff;
    margin: 10px 0;
    padding: 35px;
    font-size: 16px !important;
    line-height: 19px;
}

.feedback{

    background-color: #F8FAFD;
}

.signature{
    color: #55A462;
    position: absolute;
    bottom: 10px;
}

.feedback-form{
    background: #2D2B74 url("../img/feedback/form-feedback.png") center center no-repeat fixed;
    background-size: cover;
    min-height: 500px;

}



.feedback-form input[type="text"], .feedback-form input[type="email"], .feedback-form input[type="tel"]{
    width: 55%;
   max-width: 350px;
    height: 35px;
    border-radius: 4px;
}

.feedback-form textarea{width: 55%;
   max-width: 350px;
    height: 100px;
    border-radius: 4px;
}
label h1{
    color: #fff;
}